.file-name-container, .file-name {
  overflow: hidden;
}

.file-name {
  text-overflow: ellipsis;
  white-space: nowrap;
}

h4 {
  font-weight: bolder;
}

.uploaded-file-container {
  position: relative;

  & > button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

img {
  max-width: 300px;
  height: auto;
}
