<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="over"
    [(opened)]="isOpened"
  >
    <div
      fxLayoutGap="10px"
      fxLayoutAlign="initial center"
      class="sidenav-header"
    >
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span class="header">Церква</span>
    </div>

    <nav
      fxLayout="column"
      fxLayoutAlign="space-between start"
      class="container"
    >

      <a
        mat-flat-button
        routerLink="overview"
        routerLinkActive="active-nav-link"
        (click)="sidenav.close()"
      >
        <mat-icon>home</mat-icon>
        <span>Загальне</span>
      </a>

      <a
        mat-flat-button
        routerLink="advertisements"
        routerLinkActive="active-nav-link"
        (click)="sidenav.close()"
      >
        <mat-icon>mail</mat-icon>
        <span>Оголошення</span>
      </a>

      <a
        mat-flat-button
        routerLink="pilgrimage"
        routerLinkActive="active-nav-link"
        (click)="sidenav.close()"
      >
        <mat-icon>commute</mat-icon>
        <span>Паломництво</span>
      </a>

      <a
        mat-flat-button
        routerLink="schedule"
        routerLinkActive="active-nav-link"
        (click)="sidenav.close()"
      >
        <mat-icon>today</mat-icon>
        <span>Розпорядок</span>
      </a>

      <a
        mat-flat-button
        routerLinkActive="active-nav-link"
        (click)="sidenav.close(); navigateToAdminPanel()"
      >
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Адмін</span>
      </a>

    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
      fxLayoutGap="10px"
      color="primary">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span>Церква</span>
    </mat-toolbar>

    <main class="container">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
