<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="over"
    [(opened)]="isOpened"
  >
    <mat-toolbar
      fxLayoutGap="20px"
      color="primary"
      class="sidenav-header"
    >
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span>Церква</span>
    </mat-toolbar>

    <nav
      fxLayout="column"
      fxLayoutAlign="space-between start"
      class="centered-sized-container"
    >
      <a
        mat-flat-button
        routerLink="church-selection"
        routerLinkActive="active-nav-link"
        (click)="sidenav.close()"
      >
        <mat-icon>search</mat-icon>
        <span>Обрати Церкву</span>
      </a>

      <ng-template [ngIf]="!!churchInfo">
        <a
          mat-flat-button
          routerLink="overview"
          routerLinkActive="active-nav-link"
          (click)="navigate(sidenav, 'overview')"
        >
          <mat-icon>home</mat-icon>
          <span>Опис Церкви</span>
        </a>

        <a
          mat-flat-button
          routerLink="advertisements"
          routerLinkActive="active-nav-link"
          (click)="navigate(sidenav, 'advertisements')"
        >
          <mat-icon>mail</mat-icon>
          <span>Оголошення</span>
        </a>

        <a
          mat-flat-button
          routerLink="pilgrimage"
          routerLinkActive="active-nav-link"
          (click)="navigate(sidenav, 'pilgrimage')"
        >
          <mat-icon>commute</mat-icon>
          <span>Паломництво</span>
        </a>

        <a
          mat-flat-button
          routerLink="schedule"
          routerLinkActive="active-nav-link"
          (click)="navigate(sidenav, 'schedule')"
        >
          <mat-icon>today</mat-icon>
          <span>Розпорядок</span>
        </a>
      </ng-template>

      <a
        *ngIf="!isAuthorized()"
        mat-flat-button
        [routerLink]="['', 'auth', 'login']"
      >
        <mat-icon>login</mat-icon>
        <span>Увійти</span>
      </a>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
      fxLayoutGap="10px"
      color="primary">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span>Церква</span>
    </mat-toolbar>

    <main class="centered-sized-container">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
