<section
  fxLayout="column"
  fxLayoutGap="10px"
  class="container"
>
  <header
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <mat-form-field>
      <mat-label>Оберіть день</mat-label>

      <input
        matInput
        readonly
        [matDatepicker]="loadEventsPicker"
        [formControl]="dateControl"
      >

      <mat-datepicker-toggle matSuffix [for]="loadEventsPicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #loadEventsPicker></mat-datepicker>
    </mat-form-field>

    <a
      mat-stroked-button
      color="primary"
      [routerLink]="['', 'admin', 'schedule', 'create']"
    >
      Створити
    </a>
  </header>

  <main>
    <h1 class="no-spacing">Події</h1>

    <div
      *ngIf="events.length; else noEventsBlock"
      fxLayout="column center"
      fxLayoutGap="15px"
    >
      <div
        *ngFor="let event of events"
        fxLayout="column"
        fxLayoutGap="10px"
        class="events-container mat-elevation-z8"
      >
        <header
          fxLayout="row"
          fxLayoutAlign="space-between center"
          class="border-bottom-primary"
        >
          <h2 class="no-spacing">{{ event.date }}</h2>

          <button
            mat-icon-button
            color="warn"
            matTooltip="Видалити подію"
            (click)="removeEvent(event)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </header>

        <span>{{ event.text }}</span>
      </div>
    </div>

    <ng-template #noEventsBlock>
      <strong fxLayoutAlign="center center">
        Немає запланованих подій. Щоб оновити дані будь ласка перезагрузіть сторінку
      </strong>
    </ng-template>
  </main>
</section>
