<section
  class="flex column self-vh-center"
  [class.gap-1]="!!selectedChurch"
  [class.gap-3]="!selectedChurch"
>
  <div class="flex column v-center h-center">
    <h1>Оберіть церкву</h1>
    <span *ngIf="!selectedChurch">Схоже що ви не обрали церкву, за якою б хотіли стежити. Оберіть церкву зі списку нижче</span>
  </div>

    <mat-form-field class="grow-1">
      <mat-label>Оберіть церкву зі списку</mat-label>

      <input
        matInput
        type="text"
        placeholder="Почніть вводити назву та оберіть зі списку"
        [formControl]="nameFormControl"
        [matAutocomplete]="auto"
      >

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let church of churches$ | async"
          [value]="church.name"
        >
          {{ church.name }}
        </mat-option>
      </mat-autocomplete>

      <mat-hint>Список можна фітрувати вводячи</mat-hint>

      <mat-error *ngIf="nameFormControl.hasError('required')">
        Це поле є обов'язкове. Введіть назву церкви та оберіть її зі списку
      </mat-error>
    </mat-form-field>
</section>
