@import '../../../../shared/styles/variables.scss';

section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 300px;
  max-width: 500px;
  margin: auto;

  header {
    border-bottom: 2px solid mat-color($primaryDefault);
  }

  > div, form {
    display: flex;
    flex-direction: column;
  }
}
