$bounce-animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);

@mixin bounce-from-right-with-opacity($duration: 300ms, $distance: 100%, $delay: 0) {
  animation: bounce-from-right $duration $bounce-animation-timing-function backwards;

  @if ($delay != 0) {
    animation-delay: $delay;
  }

  @keyframes bounce-from-right {
    from {
      margin-right: -$distance;
      opacity: 0;
    }

    to {
      margin-right: initial;
      opacity: 1;
    }
  }
}

@mixin bounce-from-left-with-opacity($duration: 300ms, $distance: 100%, $delay: 0) {
  animation: bounce-from-left-with-opacity $duration $bounce-animation-timing-function backwards;

  @if ($delay != 0) {
    animation-delay: $delay;
  }

  @keyframes bounce-from-left-with-opacity {
    from {
      margin-left: -$distance;
      opacity: 0;
    }

    to {
      margin-left: initial;
      opacity: 1;
    }
  }
}

