@mixin slide-from-right($duration: 300ms, $distance: 100%, $delay: 0) {
  animation: slide-from-right $duration ease-in-out $delay backwards;

  @keyframes slide-from-right {
    from {
      margin-right: -$distance;
    }

    to {
      margin-right: initial;
    }
  }
}

@mixin slide-from-left($duration: 300ms, $distance: 100%, $delay: 0) {
  animation: slide-from-left $duration ease-in-out $delay backwards;

  @keyframes slide-from-left {
    from {
      margin-left: -$distance;
    }

    to {
      margin-left: initial;
    }
  }
}

@mixin slide-from-left-with-opacity($duration: 300ms, $distance: 100%, $delay: 0) {
  animation: slide-from-left-with-opacity $duration ease-in-out $delay backwards;

  @keyframes slide-from-left-with-opacity {
    from {
      margin-left: -$distance;
      opacity: 0;
    }

    to {
      margin-left: initial;
      opacity: 1;
    }
  }
}

@mixin opacity-slide-from-top($duration: 400ms, $distance: 10%, $delay: 0ms) {
  animation: opacity-slide-from-top $duration ease-in-out $delay backwards;

  @keyframes opacity-slide-from-top {
    from {
      margin-top: -$distance;
      opacity: 0;
    }

    to {
      margin-top: initial;
      opacity: 1;
    }
  }
}


