@mixin slide-from-right($duration: 300ms, $distance: 100%, $delay: 0) {
  animation: slide-from-right $duration ease-in-out backwards;

  @if ($delay != 0) {
    animation-delay: $delay;
  }

  @keyframes slide-from-right {
    from {
      margin-right: -$distance;
    }

    to {
      margin-right: initial;
    }
  }
}

@mixin slide-from-left($duration: 300ms, $distance: 100%, $delay: 0) {
  animation: slide-from-left $duration ease-in-out backwards;

  @if ($delay != 0) {
    animation-delay: $delay;
  }

  @keyframes slide-from-left {
    from {
      margin-left: -$distance;
    }

    to {
      margin-left: initial;
    }
  }
}

@mixin slide-from-left-with-opacity($duration: 300ms, $distance: 100%, $delay: 0) {
  animation: slide-from-left-with-opacity $duration ease-in-out backwards;

  @if ($delay != 0) {
    animation-delay: $delay;
  }


  @keyframes slide-from-left-with-opacity {
    from {
      margin-left: -$distance;
      opacity: 0;
    }

    to {
      margin-left: initial;
      opacity: 1;
    }
  }
}

@mixin slide-from-top-with-opacity($duration: 400ms, $distance: 10%, $delay: 0ms) {
  animation: slide-from-top-with-opacity $duration ease-in-out backwards;

  @if ($delay != 0) {
    animation-delay: $delay;
  }

  @keyframes slide-from-top-with-opacity {
    from {
      margin-top: -$distance;
      opacity: 0;
    }

    to {
      margin-top: initial;
      opacity: 1;
    }
  }
}

@mixin slide-from-bottom-with-opacity($duration: 400ms, $distance: 10%, $delay: 0ms) {
  animation: slide-from-bottom-with-opacity $duration ease-in-out backwards;

  @if ($delay != 0) {
    animation-delay: $delay;
  }

  @keyframes slide-from-bottom-with-opacity {
    from {
      margin-bottom: -$distance;
      opacity: 0;
    }

    to {
      margin-bottom: initial;
      opacity: 1;
    }
  }
}


