<section
  fxLayoutGap="10px"
  fxLayout="column nowrap"
  class="centered-sized-container w50p"
  ngClass.gt-md="w30p"
  ngClass.lt-sm="w100p"
>

  <div
    *ngFor="let snackbar of snackbars; let i = index"
    fxLayout="row nowrap"
    fxLayoutGap="10px"
    fxLayoutAlign="space-between center"
    class="snackbar centered-sized-container"
    [ngClass]="snackbar.type"
  >
    <mat-icon *ngIf="snackbar.type === 'success'">checked</mat-icon>
    <mat-icon *ngIf="snackbar.type === 'error'">cancel</mat-icon>
    <mat-icon *ngIf="snackbar.type === 'info'">info</mat-icon>

    <span
      fxFlex="1 1 90"
      fxLayoutAlign="start center"
      class="snackbar-message"
    >
      {{ snackbar.message }}
    </span>

    <button
      *ngIf="snackbar.isSynchronous"
      mat-icon-button
      (click)="removeSnackbarByIndex(i)"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>

</section>
