@use '~src/app/shared/styles/breakpoints';

mat-card {
  position: relative;
  padding-right: max(100px, 25%);

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

@media screen and (min-width: breakpoints.$fromXSmall) {
  mat-card:hover {
    cursor: pointer;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);
  }
}

