<mat-card
  *ngIf="churchInfo"
  [class]="churchClassName"
  matRipple
  class="border-radius-3"
  [routerLink]="['', 'main', 'church-details', churchInfo.id, 'overview']"
>
  <mat-card-title-group>
    <mat-card-title>{{ churchInfo.name }}</mat-card-title>
    <mat-card-subtitle>{{ churchInfo.prior }}</mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content>
    <ul>
      <li>Diocese: {{ churchInfo.diocese }}</li>
      <li>Deanery: {{ churchInfo.deanery }}</li>
    </ul>
  </mat-card-content>
</mat-card>
