.menu-wrapper {
  padding: 1rem 1.5rem .5rem 1.5rem;
}

.image-wrapper {
  position: relative;
  max-height: 400px;
  overflow: hidden;

  img {
    cursor: pointer;
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
  }
}
