<div class="flex image-container column h-space-between gap-1 relative">
  <button
    mat-mini-fab
    color="primary"
    class="image-button image-button__previous"
    [disabled]="selectedImage.isFirst"
    (click)="changeImage(-1)"
  >
    <mat-icon>arrow_left</mat-icon>
  </button>

  <img
    class="hover w100p"
    [alt]="alt"
    [src]="selectedImage.url"
    (click)="showFullImage()"
  >

  <strong class="page-info mat-elevation-z2 border-radius-2">
    {{ selectedImage.indexInImagesArray + 1 }} із {{ images.length }}
  </strong>

  <button
    mat-mini-fab
    color="primary"
    class="image-button image-button__next"
    [disabled]="selectedImage.isLast"
    (click)="changeImage(1)"
  >
    <mat-icon>arrow_right</mat-icon>
  </button>
</div>
