<div class="flex grow-1 column gap-1">
  <img
    class="hover grow-1"
    [src]="selectedImage.src"
    [alt]="selectedImage.alt"
    (click)="showFullImage()"
  >

  <div class="flex h-space-between v-center gap-1">
    <button
      mat-mini-fab
      color="primary"
      [disabled]="selectedImage.isFirst"
      (click)="changeImage(-1)"
    >
      <mat-icon>arrow_left</mat-icon>
    </button>

    <strong>
      {{ selectedImage.indexInImagesArray + 1 }} із {{ images.length }}
    </strong>

    <button
      mat-mini-fab
      color="primary"
      [disabled]="selectedImage.isLast"
      (click)="changeImage(1)"
    >
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
</div>
