@import '../../../../shared/styles/variables';

section {
  max-width: $max-width-md;

  .radial-border {
    width: 100%;
    height: 5px;
    background: radial-gradient(circle, mat-color($primary-default) 80%, rgba(255,255,255,1) 100%);
  }
}
