<div class="flex flex-direction-column schedule-events-list-container">
  <div
    *ngIf="showLoading | async"
    class="mat-progress-bar-wrapper"
  >
    <mat-spinner
      color="accent"
      strokeWidth="7"
      diameter="35"
      mode="indeterminate"
    ></mat-spinner>
  </div>

  <p *ngIf="!(showLoading | async) && (events$ | async)">
    Немає подій на обрану дату
  </p>

  <div class="flex flex-direction-column gap-1">
    <div
      *ngFor="let event of events$ | async; let i = index"
      class="schedule-event-list-item mat-elevation-z2 border-radius-2 container-2"
      [class]="'schedule-event-list-item--' + i"
    >
      <app-schedule-event-list-item [scheduleEvent]="event"></app-schedule-event-list-item>
    </div>
  </div>

  <span
    *ngIf="errorMessageService.errorMessage"
    class="error-message"
  >
    {{ errorMessageService.errorMessage }}
  </span>
</div>
