@use '~src/app/shared/styles/animations/animations';

.mat-progress-bar-wrapper {
  position: sticky;
  top: .5rem;
  left: .5rem;
}

.schedule-event-list-item {
  transition: margin-top 300ms ease-in-out, padding-bottom 300ms ease-in-out;
  flex: 1 1 45%;
}

@for $i from 0 through 50 {
  .schedule-event-list-item:nth-of-type(#{$i}) {
    @include animations.slide-from-top-with-opacity(300ms, 10%, #{$i * 200}ms);
  }
}
