@use '~src/app/shared/styles/animations/animations';

.mat-progress-bar-wrapper {
  position: sticky;
  top: .5rem;
  left: .5rem;
}

.schedule-event-list-item {
  transition: margin-top 300ms ease-in-out, padding-bottom 300ms ease-in-out;
}

@for $i from 0 through 50 {
  .schedule-event-list-item--#{$i} {
    @include animations.opacity-slide-from-top(300ms, 10%, #{$i * 200}ms);
  }
}
