<div class="flex flex-direction-column gap-2 v-center">
  <nav class="flex v-center gap-3">
    <a
      mat-mini-fab
      color="accent"
      [routerLink]="['', 'main', 'select-church']"
    >
      <i class="material-icons-outlined">west</i>
    </a>

    <ng-template [ngIf]="layoutBreakpointsService.extraSmallMatch$ | async" [ngIfElse]="showFabButtonsNavigation">
      <div
        *ngIf="route.params | async as routeParams"
        class="church-details-links-wrapper flex gap-2"
      >
        <a
          *ngFor="let route of routes"
          mat-mini-fab
          color="accent"
          matTooltip="Church details description"
          [routerLink]="['', 'main', 'church-details', routeParams['id'], route.pathSegment]"
        >
          <i class="material-icons-outlined">{{ route.iconName }}</i>
        </a>
      </div>
    </ng-template>

    <ng-template #showFabButtonsNavigation>
      <div
        *ngIf="route.params | async as routeParams"
        class="church-details-links-wrapper flex gap-2"
      >
        <a
          *ngFor="let route of routes"
          mat-fab
          color="accent"
          matTooltip="Church details description"
          [routerLink]="['', 'main', 'church-details', routeParams['id'], route.pathSegment]"
        >
          <i class="material-icons-outlined">{{ route.iconName }}</i>
        </a>

        <!--      <a-->
        <!--        mat-mini-fab-->
        <!--        color="accent"-->
        <!--        [routerLink]="['', 'main', 'church-details', routeParams['id'], 'pilgrimage']"-->
        <!--      >-->
        <!--        <i class="material-icons-outlined">west</i>-->
        <!--      </a>-->


      </div>
    </ng-template>
  </nav>

  <main class="flex grow-1 h-center">
    <router-outlet></router-outlet>
  </main>
</div>
