@import "../../../shared/styles/variables";

.pop-up-wrapper {
  max-width: $max-width-sm !important;
  min-width: $min-width-sm !important;

  div[mat-dialog-content] {
    white-space: pre-line;
  }

  button {
    width: 100px;
  }
}
