<div class="flex flex-direction-column grow-1">
  <div
    *ngIf="showLoading | async"
    class="mat-progress-bar-wrapper"
  >
    <mat-spinner
      color="accent"
      strokeWidth="7"
      diameter="35"
      mode="indeterminate"
    ></mat-spinner>
  </div>

  <p *ngIf="!(showLoading | async) && !(announcements$ | async)?.length">
    Немає оголошень за обраними параметрами пошуку
  </p>

  <div
    *ngIf="announcements$ | async as announcements"
    infinite-scroll
    class="flex flex-direction-column gap-1"
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="750"
    [infiniteScrollDisabled]="$any(scrollPaginationService.disableScrollTrigger$ | async)"
    (scrolled)="scrollPaginationService.loadNextPage()"
  >
    <div
      *ngFor="let announcement of announcements; let i = index"
      class="announcement-list-item"
    >
      <app-announcement-list-item [announcement]="announcement"></app-announcement-list-item>
    </div>
  </div>

  <span
    *ngIf="errorMessageService.errorMessage"
    class="error-message"
  >
    {{ errorMessageService.errorMessage }}
  </span>
</div>
