@import "../../../../shared/styles/variables";

section {
  max-width: 500px;
  min-width: 300px;

  margin: 0 auto;

  header {
    border-bottom: 2px solid mat-color($primaryDefault);
  }

  mat-form-field, header, button {
    width: 100%;
  }
}
