@use '~src/app/shared/styles/breakpoints';
@use '~src/app/shared/styles/animations/animations';

app-select-church-item {
  width: 100%;
}

@media screen and (min-width: breakpoints.$fromXSmall) {
  app-select-church-item {
    max-width: max(#{breakpoints.$fromXSmall / 1.5}, calc(25% - 1.5rem));
  }
}

@for $i from 0 through 499 {
  .select-church-item:nth-of-type(#{$i}) {
    animation: pop-up 500ms animations.$bounce-animation-timing-function #{$i * 200}ms backwards;
  }
}

@keyframes pop-up {
  0% {
    opacity: 0;
    margin-left: -20%;
  }
  80% {
    margin-left: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
