<div
  infinite-scroll
  class="flex wrap grow-1 gap-1 church-card-wrapper"
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="750"
  [infiniteScrollDisabled]="$any(scrollPaginationService.disableScrollTrigger | async)"
  (scrolled)="scrollPaginationService.loadNextPage()"
>
  <app-select-church-item
    *ngFor="let churchInfo of churches$ | async"
    class="select-church-item"
    [churchInfo]="churchInfo"
  ></app-select-church-item>
</div>

<app-scroll-to-top></app-scroll-to-top>

<span
  *ngIf="errorMessageService.errorMessage"
  class="error-message"
>
  {{ errorMessageService.errorMessage }}
</span>
