<form
  fxLayout="column"
  fxLayoutGap="10px"
  class="container mat-elevation-z8"
  [formGroup]="formGroup"
>
  <header
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="border-bottom-primary"
  >
    <h2 class="no-spacing">{{ titleAction }} Оголошення</h2>

    <a
      mat-button
      color="primary"
      [routerLink]="['', 'admin', 'advertisements']"
    >
      Повернутись
    </a>
  </header>

  <mat-form-field>
    <mat-label>Заголовок</mat-label>

    <input
      matInput
      type="text"
      placeholder="Введіть заголовок..."
      formControlName="title"
    >

    <mat-hint>Обов'язкове поле</mat-hint>

    <mat-error>Це поле є обов'язковим</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Опис</mat-label>

    <textarea
      matInput
      rows="5"
      type="text"
      placeholder="Введіть короткий опис..."
      formControlName="content"
    ></textarea>

    <mat-hint>Обов'язкове поле</mat-hint>

    <mat-error>Це поле є обов'язковим</mat-error>
  </mat-form-field>

  <app-upload-images
    [images]="images"
    [canEdit]="true"
    [maxImagesLength]="5"
  ></app-upload-images>

  <button
    mat-raised-button
    color="primary"
    type="submit"
  >
    Зберегти
  </button>
</form>
