@import "./src/app/shared/styles/variables";

form {
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
}

textarea {
  resize: none !important;
}

.image-header {
  padding: .3rem 0;
  margin-bottom: .5rem;
  border-bottom: 2px solid mat-color($primaryDefault);
}
