<table class="mat-elevation-z8">

  <thead>
  <tr>
    <th>Нд</th>
    <th>Пн</th>
    <th>Вт</th>
    <th>Ср</th>
    <th>Чт</th>
    <th>Пт</th>
    <th>Сб</th>
  </tr>
  </thead>

  <tbody>

  <tr *ngFor="let week of calendar">
    <td
      *ngFor="let day of week.week"
      class="container"
      [class.active]="day.isToday"
    >

      <div
        class="day hover"
        [class.today]="day.isToday"
        [class.disabled]="day.isDisabled"
        (click)="handleSelectDate(day.value.pure, day.isDisabled)"
      >
        <span>{{ day.value.formatted }}</span>
        <span
          *ngIf="day.events.length"
          class="event-notification"
        >{{ day.events.length + 1 }}</span>
      </div>

    </td>
  </tr>

  </tbody>
</table>
