@import 'variables';

$container-paddings: (
  1: .5rem,
  2: 1rem,
  3: 1.5rem,
  4: 2rem
);

$border-radiuses: (
  1: 4px,
  2: 8px,
  3: 12px
);

@each $key, $value in $container-paddings {
  .container-#{$key} {
    padding: $value;
  }
}

@each $key, $value in $border-radiuses {
  .border-radius-#{$key} {
    border-radius: $value;
  }
}

.table-container {
  width: 100%;
  overflow: auto;
  max-width: $max-width-lg;
  margin: 0 auto;

  table {
    width: 100%;

    td, th {
      padding: 3px;
      vertical-align: baseline;
    }
  }
}

.centered-sized-container {
  margin: .5rem auto;
  padding: .5rem;
  max-width: $max-width-lg;
}

.no-spacing {
  margin: 0 !important;
  padding: 0 !important;
}

.header {
  font-size: 1.3rem;
}

.hover:hover {
  cursor: pointer;
}

.border-bottom-primary {
  border-bottom: 2px solid mat-color($primary-default);
}
