@mixin padding-with-border-radius() {
  .mat-bottom-sheet-container {
    padding-block-start: 1rem !important;
    padding-block-end: .5rem !important;
    border-top-right-radius: 1rem !important;
    border-top-left-radius: 1rem !important;
    overflow: visible !important;
  }
}
