<div class="flex wrap v-center gap-2">
  <a
    mat-mini-fab
    color="accent"
    [routerLink]="['', 'auth']"
  >
    <i class="material-icons-outlined">west</i>
  </a>

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>

    <input
      matInput
      type="text"
      placeholder="Church name"
      [formControl]="filterFormControl"
    >

    <mat-hint>Search will start automatically</mat-hint>
  </mat-form-field>

  <mat-spinner
    *ngIf="showLoading | async"
    color="primary"
    mode="indeterminate"
    diameter="25"
    strokeWidth="5"
  ></mat-spinner>
</div>
