@import "../../../../shared/styles/variables";

section {
  max-width: $max-width-sm;
  min-width: $min-width-sm;

  margin: 0 auto;

  form, h2 {
    width: 100%;
  }
}

.passwords-mismatch-error {
  color: red;
  margin: .5rem 0;
}
