<section
  fxLayout="column"
  fxLayoutGap="10px"
  fxLayoutAlign="center center"
  class="container mat-elevation-z8"
>
  <h2 class="border-bottom-primary">Скидання паролю</h2>

  <form
    fxLayout="column"
    fxLayoutGap="10px"
    [formGroup]="formGroup"
    (ngSubmit)="submit()"
  >

    <mat-form-field>
      <mat-label>Пароль</mat-label>

      <input
        matInput
        required
        type="password"
        placeholder="Введіть свій пароль..."
        formControlName="newPassword"
      >

      <mat-hint>Обов'язкове поле, Мін: 8, Макс: 20 символів</mat-hint>

      <mat-error *ngIf="newPassword?.errors?.required">Це поле є обов'язковим</mat-error>
      <mat-error *ngIf="newPassword?.errors?.minlength">Мінімум 8 символів</mat-error>
      <mat-error *ngIf="newPassword?.errors?.maxlength">Максимум 20 символів</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Підтвердження паролю</mat-label>

      <input
        matInput
        required
        type="password"
        placeholder="Введіть свій новий пароль повторно..."
        formControlName="passwordForComparison"
      >

      <mat-hint>Обов'язкове поле, Мін: 8, Макс: 20 символів</mat-hint>

      <mat-error *ngIf="passwordForComparison?.errors?.required">Це поле є обов'язковим</mat-error>
      <mat-error *ngIf="passwordForComparison?.errors?.minlength">Мінімум 8 символів</mat-error>
      <mat-error *ngIf="passwordForComparison?.errors?.maxlength">Максимум 20 символів</mat-error>
      <mat-error *ngIf="passwordForComparison?.errors?.newPasswordsMismatched">Нові паролі не збігаються</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="formGroup.invalid || formGroup.pristine"
    >
      Оновити
    </button>
  </form>
</section>
