section {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

header {
  position: relative;

  h3 {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.events-container {
  padding: 1rem;

  h2 {
    border-bottom: 2px solid gray;
  }
}
