header {
  position: relative;

  h3 {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

main {
  margin-top: 1rem;

  .events-container {
    margin: 1rem;
    padding: 1rem;

    div {
      border-bottom: 2px solid gray;

      mat-icon {
        font-size: 1.5rem;
      }
    }
  }
}
