<section
  fxLayout="column"
  fxLayoutGap="20px"
>
  <header fxLayoutAlign="start">
    <button
      mat-stroked-button
      (click)="navigateToSchedulePage()"
    >
      Назад
    </button>

    <h3 class="no-spacing">{{ date }}</h3>
  </header>

  <main>
    <h1 class="no-spacing">Події</h1>
    <hr>

    <div
      *ngIf="events.length; else noEventsBlock"
      fxLayout="column center"
      fxLayoutGap="15px"
      [@fadeInAnimation]
    >
      <div
        *ngFor="let event of events; let i = index"
        fxLayout="column"
        fxLayoutGap="10px"
        class="events-container mat-elevation-z8"
      >
        <h2 class="no-spacing">{{ event.date }}</h2>

        <span>{{ event.information }}</span>
      </div>
    </div>

    <ng-template #noEventsBlock>
      <strong fxLayoutAlign="center center">
        Немає запланованих подій. Щоб оновити дані будь ласка перезагрузіть сторінку
      </strong>
    </ng-template>
  </main>
</section>
