@use '~src/app/shared/styles/breakpoints';

.auth-links-wrapper {
  animation: show-links 500ms ease-in-out;
}

.auth-link {
  max-height: 200px;
  max-width: 230px;
  width: 100%;
  padding-block: max(2.5rem);
  font-size: 1.2rem;
  white-space: pre-wrap;

  i {
    display: block;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &--without-sign-in {
    animation: move-link-block 500ms ease-in-out backwards;
    max-height: 250px;
    max-width: 250px;
  }

  &--sign-in {
    animation: move-link-block 500ms ease-in-out;
  }
}

@keyframes move-link-block {
  from {
    margin-right: -20%;
  }

  to {
    margin-right: initial;
  }
}


@keyframes move-link-inline {
  from {
    margin-bottom: -50%;
  }

  to {
    margin-bottom: initial;
  }
}

@keyframes show-links {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: breakpoints.$toXSmall) {
  .auth-link--without-sign-in, .auth-link--sign-in {
    animation: move-link-inline 500ms ease-in-out;
  }
}
