@use '~src/app/shared/styles/breakpoints';
@use '~src/app/shared/styles/animations/animations';

.auth-links-wrapper {
  animation: show-links 500ms ease-in-out;
  flex-direction: column;
}

.big-button {
  &--without-sign-in, &--sign-in {
    @include animations.slide-from-top-with-opacity();
  }
}

@media screen and (min-width: breakpoints.$fromXSmall) {
  .auth-links-wrapper {
    flex-direction: row;
  }

  .big-button--without-sign-in {
    @include animations.bounce-from-right-with-opacity();
  }

  .big-button--sign-in {
    @include animations.bounce-from-left-with-opacity();
  }
}
//
//@keyframes move-link-block {
//  from {
//    margin-right: -20%;
//  }
//
//  to {
//    margin-right: initial;
//  }
//}
//
//
//@keyframes move-link-inline {
//  from {
//    margin-bottom: -50%;
//  }
//
//  to {
//    margin-bottom: initial;
//  }
//}
//
//@keyframes show-links {
//  0% {
//    opacity: 0;
//  }
//
//  100% {
//    opacity: 1;
//  }
//}
