<div class="flex gap-3 h-center v-center auth-links-wrapper">
  <a
    mat-raised-button
    color="accent"
    class="big-button big-button--without-sign-in border-radius-3"
    [routerLink]="['', 'main', 'select-church']"
  >
    <i class="material-icons-outlined self-center">how_to_reg</i>
    Continue without authentication
  </a>

  <ng-template [ngIf]="!isAuthorized">
    <a
      i18n
      mat-stroked-button
      color="accent"
      class="big-button big-button--sign-in border-radius-3"
      [routerLink]="['', 'auth', 'sign-in']"
    >
      <mat-icon class="material-icons-outlined self-center">login</mat-icon>
      Sign in
    </a>

    <a
      i18n
      mat-stroked-button
      color="accent"
      class="big-button border-radius-3"
      [routerLink]="['', 'auth', 'sign-up']"
    >
      <mat-icon class="material-icons-outlined self-center">app_registration</mat-icon>
      Sign up
    </a>
  </ng-template>
</div>
