@use '~src/app/shared/styles/breakpoints';

.auth-links-wrapper {
  animation: show-links 500ms ease-in-out;
  flex-direction: column;
}

.auth-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  max-width: 230px;
  width: 100%;
  font-size: 1.2rem;
  white-space: pre-wrap;

  i {
    display: block;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &--without-sign-in, &--sign-in {
    animation: move-link-inline 500ms ease-in-out;
  }
}

@media screen and (min-width: breakpoints.$fromXSmall) {
  .auth-links-wrapper {
    flex-direction: row;
  }

  .auth-link--without-sign-in {
    animation: move-link-block 500ms ease-in-out backwards !important;
  }

  .auth-link--sign-in {
    animation: move-link-block 500ms ease-in-out !important;
  }
}

@keyframes move-link-block {
  from {
    margin-right: -20%;
  }

  to {
    margin-right: initial;
  }
}


@keyframes move-link-inline {
  from {
    margin-bottom: -50%;
  }

  to {
    margin-bottom: initial;
  }
}

@keyframes show-links {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
