<div class="self-center flex flex-direction-column v-center">
  <mat-spinner
    *ngIf="showLoading | async"
    mode="indeterminate"
    color="accent"
  ></mat-spinner>

  <div
    *ngIf="churchInfo$ | async as churchInfo"
    class="border-radius-3 church-overview"
  >
    <div class="container-2 church-overview__header">
      <p class="church-overview__title">{{ churchInfo.name }}</p>
      <small class="church-overview__location"
        ><i class="material-icons-outlined">place</i>
        {{ churchInfo.location }}
      </small>
    </div>

    <div class="container-2 flex gap-1 church-overview__main">
      <div class="grow-1">
        <div class="flex wrap gap-1">
          <small>Diocese: {{ churchInfo.diocese }}</small>
          <small>Deanery: {{ churchInfo.deanery }}</small>
        </div>

        <br />

        <p class="church-overview__main__description">
          <span class="flex grow-1 image-carousel-wrapper">
            <app-image-carousel
              *ngIf="churchInfo.images.length"
              [images]="churchInfo.images"
            ></app-image-carousel>
          </span>

          {{ churchInfo.description }}
        </p>
      </div>
    </div>

    <div class="container-2 church-overview__footer">
      <p>Contact information</p>

      <ul>
        <li>Prior: {{ churchInfo.prior }}</li>
        <li>Email: {{ churchInfo.email }}</li>
        <li>Phone number: {{ churchInfo.phoneNumber }}</li>
      </ul>
    </div>
  </div>

  <span
    *ngIf="errorMessageService.errorMessage"
    class="error-message error-message--fill-available"
  >
    {{ errorMessageService.errorMessage }}
  </span>
</div>
