<div class="flex flex-direction-column gap-1">
  <mat-progress-bar
    *ngIf="showLoading | async"
    mode="indeterminate"
    color="accent"
  ></mat-progress-bar>

  <div
    *ngIf="churchInfo$ | async as churchInfo"
    class="border-radius-3 church-overview"
  >
    <div class="container-2 church-overview__header">
      <p class="church-overview__title">{{ churchInfo.name }}</p>
      <small class="church-overview__location"><i class="material-icons-outlined">place</i> {{ churchInfo.location }}
      </small>
    </div>

    <div class="container-2 church-overview__main">
      <div class="flex wrap gap-1">
        <small>Єпархія: {{ churchInfo.diocese }}</small>
        <small>Деканат: {{ churchInfo.deanery }}</small>
      </div>

      <hr>

      <div>
        <img
          *ngFor="let img of churchInfo.images"
          [src]="img.url"
          [alt]="img.name"
        >
      </div>

      <hr>
      <br>

      <p>{{ churchInfo.description }}</p>
    </div>

    <div class="container-2 church-overview__footer">
      <p>Контактна інформація</p>

      <ul>
        <li>Prior: {{ churchInfo.prior }}</li>
        <li>Email: {{ churchInfo.email }}</li>
        <li>Phone number: {{ churchInfo.phoneNumber }}</li>
      </ul>
    </div>
  </div>
</div>

<span
  *ngIf="errorMessageService.errorMessage"
  class="error-message error-message--fill-available"
>
  {{ errorMessageService.errorMessage }}
</span>
