<div class="image-carousel-container">
  <button
    mat-mini-fab
    color="accent"
    type="button"
    class="images-floating-button images-floating-button--left"
    [disabled]="selectedImageIndex === 0"
    (click)="changeImage(-1)"
  >
    <i class="material-icons-outlined">arrow_left</i>
  </button>

  <div class="image-wrapper border-radius-2">
    <img
      *ngIf="selectedImage$ | async as selectedImage"
      [src]="selectedImage.url"
      [alt]="selectedImage.name"
      draggable="false"
      (click)="selectImage(selectedImage)"
    >
  </div>

  <button
    mat-mini-fab
    color="accent"
    type="button"
    class="images-floating-button images-floating-button--right"
    [disabled]="selectedImageIndex === images.length - 1"
    (click)="changeImage(1)"
  >
    <i class="material-icons-outlined">arrow_right</i>
  </button>
</div>
