<div
  *ngIf="!!images.length"
  class="image-carousel-container border-radius-2 container-2">
  <button
    mat-mini-fab
    color="accent"
    type="button"
    class="images-floating-button images-floating-button--left"
    [disabled]="selectedImageIndex === 0"
    (click)="changeImage(-1)"
  >
    <i class="material-icons-outlined">arrow_left</i>
  </button>

  <div
    #imageSlider
    class="flex image-slider-wrapper"
  >
    <img
      *ngFor="let image of images"
      #imagesList
      [src]="image.url"
      [alt]="image.name"
      draggable="false"
      [srcset]="image.url + ' 500w'"
      (click)="selectImage(image)"
    >
  </div>

  <button
    mat-mini-fab
    color="accent"
    type="button"
    class="images-floating-button images-floating-button--right"
    [disabled]="selectedImageIndex === images.length - 1"
    (click)="changeImage(1)"
  >
    <i class="material-icons-outlined">arrow_right</i>
  </button>
</div>
