@use '~src/app/shared/styles/breakpoints';

.image-carousel-container {
  position: relative;
}

.image-slider-wrapper {
  overflow-y: hidden;
  scroll-behavior: smooth;
  pointer-events: none;
  max-height: 300px;

  &::-webkit-scrollbar {
    display: none;
  }

  img {
    pointer-events: auto;
  }
}

.images-floating-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}
