@use '~src/app/shared/styles/breakpoints';

.image-carousel-container {
  position: relative;
  width: 100%;
}

.image-wrapper {
  background-color: rgba(0, 0, 0, .5);

  img {
    pointer-events: none;
    height: 300px;
    object-fit: contain;
  }
}

.images-floating-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  &--left {
    left: .5rem;
  }

  &--right {
    right: .5rem;
  }
}
