.selector {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 40%;
  min-width: 300px;
  margin: 0 auto;
  font-size: 1.3rem;

  span {
    text-align: center;
    margin: 0 .5rem;
  }

  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
  }
}
