@use '~src/app/shared/styles/breakpoints';
@use '~src/app/shared/styles/animations/animations';

.forgot-password-container {
  overflow: hidden;
  max-width: breakpoints.$toXSmall;
  animation: animations.$opacity-slide-from-top 400ms ease-in-out;

  & > * {
    animation: animations.$opacity-slide-from-top 600ms ease-in-out;
  }

  .submit-button {
    max-width: 180px;
    width: 100%;
    margin-left: auto;
    margin-right: -100%;
    animation: animations.$slide-from-right 600ms ease-in-out 100ms forwards;
  }
}

@media screen and (max-width: breakpoints.$toXSmall) {
  .forgot-password-container .submit-button {
    max-width: initial;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    animation: none;
  }
}
