@use '~src/app/shared/styles/breakpoints';
@use '~src/app/shared/styles/animations/animations';

.form-container {
  overflow: hidden;
  max-width: breakpoints.$toXSmall;
  @include animations.opacity-slide-from-top();

  & > * {
    @include animations.opacity-slide-from-top(600ms);
  }

  .submit-button {
    max-width: 180px;
    width: 100%;
    margin-left: auto;
    @include animations.slide-from-right(600ms, 100%, 100ms);
  }
}

@media screen and (max-width: breakpoints.$toXSmall) {
  .form-container .submit-button {
    max-width: initial;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    animation: none;
  }
}
