@use '~src/app/shared/styles/breakpoints';
@use '~src/app/shared/styles/animations/animations';

.schedule-calendar {
  @include animations.opacity-slide-from-top(300ms, 30%, 100ms);
}

.schedule-event-list {
  @include animations.opacity-slide-from-top(300ms, 10%, 200ms);

  &__title {
    height: 30px;
    line-height: 30px;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: breakpoints.$fromSmall) {
  .schedule-layout-wrapper {
    flex-direction: row;
  }

  .schedule-calendar {
    @include animations.slide-from-left-with-opacity(300ms, 30%, 100ms);
  }

  .schedule-event-list {
    &__title {
      margin-top: calc((30px + 1rem) * -1);
    }

    width: 65ch;
    @include animations.slide-from-left-with-opacity(300ms, 10%, 200ms);
  }
}
