<div class="self-center flex gap-3 flex-direction-column schedule-layout-wrapper">
  <div class="schedule-calendar">
    <app-schedule-calendar></app-schedule-calendar>
  </div>

  <div class="schedule-event-list flex flex-direction-column">
    <h2 class="schedule-event-list__title">Events</h2>
    <app-schedule-event-list></app-schedule-event-list>
  </div>

  <app-scroll-to-top
    [buttonRightPosition]="$any(scrollToTopButtonRightPosition$ | async)"
    [startScrollOffset]="100"
  ></app-scroll-to-top>
</div>
