@use 'app/shared/styles/flex';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';
@import 'app/shared/styles/theme';
@import 'app/shared/styles/common';

html, body {
  height: 100%;
}

body {
  @extend .no-spacing;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w100p {
  width: 100%;
}

img {
  height: auto;
}

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    min-width: $min-width-sm;
    max-width: $max-width-sm;

    .sidenav-header {
      padding-left: 1.5rem;
    }
  }
}

nav > a {
  display: flex;
  align-content: center;

  font-size: 1.2rem;
  width: 100%;

  mat-icon {
    display: flex;

    width: 10%;
    margin: auto 0;
  }

  span {
    display: flex;
    justify-content: center;

    width: 90%;
  }

  &.active-nav-link {
    color: mat-color($primary-default);
  }
}
